h1 hello #{user.username}
a(href="/login/facebook") Log in with Facebook
br
a(href="/login/twitter") Log in with Twitter 
br
a(href="/login/reddit") Log in with Reddit
br
a(href="/login/github") Log in with Github 
br
a(href="/login/fitbit") Log in with Fitbit 
br
