h1 Register
h1=error
form(method="POST" action="/register")
  label username
  input(type="text" name="username")
  br
  label password
  input(type="password" name="password")
  br
  button(type="submit") Submit
